.row.margin
   .col-md-2
   .col-md-4
      div.margin
         h2 My Site is totally new kind of learning experience.
      div.margin
         p Here you learn by practice. We make tons of efforts to take boredom out of learning and make education a fun experience.
            | Inside, you will find tons of video tutorials
   .col-md-1
   .col-md-4
      div.margin
         iframe(width='560', height='315', frameborder='0', src='//www.youtube.com/embed/lYCEQqSM08I', allowfullscreen='')
.row.margin
.row.margin
.row.margin.m1
   .col-md-2
   .col-md-5
      div.margin
         h3  Have Fun While You Learn
         p
            | Take the pleasure of e-learning with interactive lessons taught by experts, and practice them step by step.
   .col-md-4
      div
         img(alt='guru99', src='http://cdn.guru99.com/images/logo_funlearn.png')
.row.margin.m2
   .col-md-2
   .col-md-5
      div.margin
         h3  All Courses include
.row.m2
   .col-md-2
   .col-md-3
      div
         h4 Learn Courses from a pro.
      div.margin
         p Our experts are passionate professional who share their sound knowledge and rich experience with learners
   .col-md-2
      div
         h4 Variety of tutorials and Quiz
      div.margin
         p Interactive tutorials and Quiz for testing your technical skills and knowledge
   .col-md-2
      div
         h4 Unlimited access
      div.margin
         p Browse the entire course library and choose the course of your interest
   .col-md-2
      div
         h4 Video Tutorials
      div.margin
         p Exceptional video tutorials by experts for beginner, intermediate & advance learners
.row
   div.footer

